{% extends "base.html" %}

{% block new_post %}
<form method="post">
    <label>
        <div>
        Title
        </div>
        <input type="text" name="title" value="{{title}}" />
    </label>

    <label>
        <div>
            Body
        </div>
        <textarea name="body">{{body}}</textarea>
    </label>
    <div class="error">
        {{error}}
    </div>

    <input type="submit" />
</form>
{% endblock %}

{% block recent_posts %}
    <br />
    {% for p in posts %}
        <div class="post">
            <div class="post-title">
                {{p.title}}
            </div>
            <div class="post-date">
                {{p.created}}
            </div>
            <div class="post-body">
                {{p.body}}
            </div>
        </div>
        <hr />
        <br />
    {% endfor %}
{% endblock %}
